.content {
  position: absolute;
  top: var(--header-height);
  right: 0;
  width: 100%;
  height: calc(100vh - var(--header-height));
  padding: 20px;
  transition: all 0.5s ease-in-out;
}

.withSidebar {
  width: calc(100% - var(--sidebar-width));
}
